@import url(https://fonts.googleapis.com/css?family=Righteous);

.nav-tabs .nav-link{
  width: 33.3%;
  text-align: center;
  border-radius: 0 !important;
}
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  }


body {
  text-align: center;
  background-color: hsla(230,40%,50%,1) !important;
  font-family: 'Righteous', serif !important;
}
body:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  height: 100%;
}

h1 {
  display: inline-block !important;
  color: white;
  font-family: 'Righteous', serif !important;
  font-size: 5vw !important; 
  text-shadow: .03em .03em 0 hsla(230,40%,50%,1);
}
h1:after {
  content: attr(data-shadow) !important;
  position: absolute;
  top: .06em; left: .06em;
  z-index: -1;
  text-shadow: none;
  background-image:
    linear-gradient(
    45deg,
    transparent 45%,
    hsla(48,20%,90%,1) 45%,
    hsla(48,20%,90%,1) 55%,
    transparent 0
  );
  background-size: .05em .05em;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shad-anim 15s linear infinite;
}

@keyframes shad-anim {
  0% {background-position: 0 0}
  0% {background-position: 100% -100%}
}

.centered{
  margin: 0 auto;
  text-align: center;
}

.nav.nav-tabs a{
  color: #ccc !important;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
  color: hsla(230,40%,50%,1) !important;
}

.whitebg{
  background-color: #fff;
}

.row{
  padding: 20px;
}

.list{
  text-indent: 2em;;
}
p, li{
  color: #555;
}


.nav-tabs .nav-link:hover {
    border: none !important;
    color: #fff !important;
}

.contact a,
.nav-tabs .nav-link:focus{
  color: hsla(230,40%,50%,1) !important;
}